<h1>Müşteriler</h1>

<form method="get">
    <ul style="list-style-type: none; padding-left: 10px;">
        {{ form.as_ul }}
        <input type="submit" value="Ara">
    </ul>
</form>

<ul>
    {% for customer in object_list %}
        <li>{{ customer.tr_id }}: {{ customer.first_name }} - {{ customer.last_name }}</li>
    {% empty %}
        <li>Hiç müşteri yok.</li>
    {% endfor %}
</ul>

<p>
    <span>
        {% if page_obj.has_previous %}
            <a href="?{{ queries.urlencode }}&page=1">&laquo; ilk</a>
            <a href="?{{ queries.urlencode }}&page={{ page_obj.previous_page_number }}">önceki</a>
        {% endif %}
        <span class="current">{{ page_obj.number }} / {{ page_obj.paginator.num_pages }}</span>
        {% if page_obj.has_next %}
            <a href="?{{ queries.urlencode }}&page={{ page_obj.next_page_number }}">sonraki</a>
            <a href="?{{ queries.urlencode }}&page={{ page_obj.paginator.num_pages }}">son &raquo;</a>
        {% endif %}
    </span>
</p>