<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>customers_app</title>
    <style>
        .form-table th {
            text-align: right;
        }
    </style>
</head>

<body>
    <a href="{% url 'list' %}">Ana Sayfa</a> |
    <span><b>{{ user.username }}</b></span>
    <a href="{% url 'logout' %}">Oturumu Kapat</a>
    <hr>
    {% block content %}
    {% endblock %}
</body>

</html>